.suggestion-container {
  padding: 30px;
}

.suggestion-container span::after {
  width: 75%;
}

.suggestio__card-container {
  display: flex;
  column-gap: 20px;
}

.suggestio__card-container .ant-card {
  width: 300px;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

.button {
  width: 110px;
  height: 40px;
  font-size: 15px;
  font-weight: 600;
  border-radius: 25px;
  border: 1px solid black;
  background-color: inherit;
  cursor: pointer;
  opacity: 0.7;
}

.button:hover{
    opacity: 1;
}

.add-button{
    border: none;
    background-color: #e4002b;
    color: whitesmoke;
}

.suggestio__card-container .ant-card-cover{
  padding: 10px;
  overflow: hidden;
}
