.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 40px;
    border-bottom: 2px solid black;
}

.header-navigation{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-container{
    width: 78px;
    height: 78px;
    background-image: url(https://static.kfcvietnam.com.vn/images/web/kfc-logo.svg?v=5.0);
    cursor: pointer;
}

.header-right .icon{
    font-size: 30px;
    margin-left: 15px;
    cursor: pointer;
}

.navigation__menu-bar{
    display: flex;
    list-style: none;
    column-gap: 10px;
}

.navigation__menu-bar li{
    margin-left: 20px;
}

.navigation__menu-bar li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 600;  
}

.navigation__menu-bar li a:hover{
    border-bottom: 2px solid black;
}