.renderdata-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.title{
    margin: 20px 0px;
    font-size: 25px;
    font-weight: 700;
    font-family: Oswald;
}

.productcard--item-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 25px;
    padding: 0px 15px;
}